<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Express Handlebars Socket.io</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
</head>
<body>

    {{{body}}}

</body>
</html>